<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="center">
        <button onclick="location.href='/pos'">POS 페이지</button>
        <button onclick="location.href='/bar1'">Bar1 페이지</button>
        <button onclick="location.href='/kitchen'">주방 페이지</button>
        <button onclick="location.href='/menu'">메뉴 관리</button>
        <button onclick="location.href='/table-map'">테이블 맵 관리</button>
    </div>
</body>
</html>